Mark L. Fox is a leading keynote speaker with very popular motivational speeches that entertain and inspire audiences. Mark has developed a unique way to explain and teach these principles. 

He makes it easy for anyone to understand.Professional speaking is not only one of the most paying jobs but also one of the most scariest. This Keynote Speaker presentation is based on the principles of TRIZ, the Theory of Inventive Problem Solving. 

Phone-321-626-4786
Address-203 Rose Drive Cocoa Beach, FL 32931
Website- http://www.slyasafox.com
